<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PIOprocessing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PIOprocessingInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PIOprocessing.Properties.Settings>
            <setting name="ReportsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RelativeBetsize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartingStacks" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="SmallBlind" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BigBlind" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Theme" serializeAs="String">
                <value>Light</value>
            </setting>
            <setting name="GroupHands" serializeAs="String">
                <value>False</value>
            </setting>
        </PIOprocessing.Properties.Settings>
        <PIOprocessingInterface.Properties.Settings>
            <setting name="ReportsPath" serializeAs="String">
                <value />
            </setting>
        </PIOprocessingInterface.Properties.Settings>
    </userSettings>
</configuration>